<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112703068195-i38i5966t9gll7fge8mls2kg8i3apnd4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112703068195-i38i5966t9gll7fge8mls2kg8i3apnd4</string>
	<key>API_KEY</key>
	<string>AIzaSyCf0mc8HdA6io3y4jYM-95GY5OA7asK2mU</string>
	<key>GCM_SENDER_ID</key>
	<string>112703068195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raulolmedo.Kelo</string>
	<key>PROJECT_ID</key>
	<string>kelo-64c5c</string>
	<key>STORAGE_BUCKET</key>
	<string>kelo-64c5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112703068195:ios:2b58fce4ef31d1811f7996</string>
</dict>
</plist>